<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
  <h2>
  <%= link_to group.name, group_trades_path(group.id) %>
  </h2>
  <img src="<%= group.icon %>">

  <% end %>
</div>

<%= link_to "Add a new group", new_group_path %>
