<p style="color: green"><%= notice %></p>

<h1>Trades</h1>

<div id="trades">
  <% @trades.each do |trade| %>
    <%= render trade %>
    <p>
      <%= link_to "Show this trade", group_trade_path(id: trade.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New trade", new_group_trade_path %>
